<!DOCTYPE html>
<html>
  <head>
    <title>ChunkChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' type="image/png" href="/res/tex.png" />
  </head>

  <body>

    <div class="flexbox-container">
      
      <div class="flexbox-cell" id="flex-header">
        <h1>ChunkChat</h1>
        <p>By <a href="https://github.com/theshmurph" id="bryce">Bryce Murphy</a>
          &amp;  <a href="https://github.com/michaeldoylecs" id="mike">Michael Doyle</a></p>
      </div>

      <div class="flexbox-cell" id="flex-login">
        <input type="text" id="username" placeholder="log in">
      </div>
    
      <div class="flexbox-cell" id="flex-log">
        <ol id="log_e"></ul>
      </div>
      
      <div class="flexbox-cell" id="flex-input">
        <input type="text" id="input" placeholder="say something">
      </div>
    
    </div>

  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/sendToServer.js"></script>
</html>
