<!DOCTYPE html>
<html>
  <head>
    <title>DaddyChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' type="image/png" href="/res/tex.png" />
  </head>

  <body>

<!--<div class="flexbox-cell" id="flex-header">
    <div id="header">
      <h1>DaddyChat</h1>
      <p>By Bryce Murphy &amp; Michael Doyle</p>
    </div>
  </div>
    
    <div id="meat">

      <div id="username">
        <h3 id="current">theshmurph</h4> 
      </div>

      <div id="input_and_log">
        <div id="FLIPBOX">  
          <div id="log">
            <ol id="log_e"></ul>
          </div>
        </div>

        <div id="user_text">
          <input type="text" id="input" placeholder="say something, theshmurph...">
        </div>
      </div>
    -->
    <div class="flexbox-container">
      
      <div class="flexbox-cell" id="flex-header">
        <div id="header">
          <h1>DaddyChat</h1>
          <p>By Bryce Murphy &amp; Michael Doyle</p>
        </div>
      </div>
     
      <div class="flexbox-cell" id="flex-log">
        <div id="log">
          <ul id="log_e"></ul>
        </div>
      </div>
      
      <div class="flexbox-cell" id="flex-input">
        <div id="user_text">
          <input type="text" id="input">
        </div>
      </div>
    
>>>>>>> master
    </div>
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/sendToServer.js"></script>
  <script src="/js/toLog.js"></script>
</html>
