<!DOCTYPE html>
<html>
  <head>
    <title>DaddyChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' type="image/png" href="/res/tex.png" />
  </head>

  <body>
    
    <div class="flexbox-container" id="flex-webpage">
      
      <div class="flexbox-cell" id="flex-header">
        <h1>DaddyChat</h1>
        <p>
          By
          <a href="https://github.com/theshmurph" id="bryce">Bryce Murphy</a>
          &amp;
          <a href="https://github.com/michaeldoylecs" id="mike">Michael Doyle</a>
        </p>
      </div>

      <div class="flexbox-cell" id="flex-login">
        <input type="text" id="username" placeholder="log in">
      </div>
     
      <div class="flexbox-container flexbox-cell" id="flex-app">   

        <div class="flexbox-cell" id="flex-userlist">
          <ol>
            <li>Anonymoose~</li>
            <li>Anonymouse~</li>
            <li>Anonymoose~</li>
            <li>Anonymouse~</li>
            <li>Anonymoose~</li>
            <li>Anonymouse~</li>
            <li>Anonymoose~</li>
            <li>Anonymouse~</li>
            <li>Anonymoose~</li>
            <li>Anonymouse~</li>
            <li>Anonymoose~</li>
            <li>Anonymouse~</li>
          </ol>
        </div>

        <div class="flexbox-container flexbox-cell" id="flex-chat">
          
          <div class="flexbox-cell" id="flex-log">
            <ol id="log_e"></ol>
          </div>
          
          <div class="flexbox-cell" id="flex-input">
            <input type="text" id="input" placeholder="say something">
          </div>

        </div>

      </div>
      
    </div>

  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/sendToServer.js"></script>
</html>
