<!DOCTYPE html>
<html>
  <head>
    <title>ChunkChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' type="image/png" href="/res/tex.png" />
  </head>

  <body>

    <div class="flexbox-cell" id="flex-header">
        <p>by <a href="https://github.com/theshmurph" target="_blank" id="bryce">bryce murphy</a>
          &amp;  <a href="https://github.com/michaeldoylecs" target="_blank" id="mike">michael doyle</a></p>
    </div>

    <div class="flexbox-container">

      <div class="flexbox-cell" id="flex-login">
        <input type="text" id="username" placeholder="log in">
      </div>
    
      <div class="flexbox-cell" id="flex-log">
        <ol id="log_e"></ol>
      </div>
      
      <div class="flexbox-cell" id="flex-input">
        <input type="text" id="input" placeholder="say something">
      </div>
    
      <div class="flexbox-cell" id="flex-online-users">
        <strong>online users: </strong>
        <span id="online-users"></span>
      </div>

    </div>

  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/sendToServer.js"></script>
  <script src="/js/drawCanvas.js"></script>

</html>
