<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' type="image/png" href="/res/tex.png" />
  </head>

  <body>

    <div id="header">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
    
    <div id="meat">

      <div id="username">
        <h3 id="current">theshmurph</h4> 
      </div>

      <div id="input_and_log">
        <div id="FLIPBOX">  
          <div id="log">
            <ol id="log_e"></ul>
          </div>
        </div>

        <div id="user_text">
          <input type="text" id="input" placeholder="say something, theshmurph...">
        </div>
      </div>

    </div>

  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/sendToServer.js"></script>

</html>
