* {
  padding: 0;
  margin: 0;
}
html, body, .flexbox-container {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3794f2;
  margin: auto;
}
a {
  text-decoration: none;
}
a:hover {
  transition: .5s;
}
input {
  outline: none;
  margin: auto;
  width: 100%;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
ol {
  padding: 0;
  list-style-type: none;
  transform: rotate(180deg);
  overflow-y: auto;
}
.flexbox-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 60%;
  margin: auto;
}
.flexbox-cell {
  flex: 1 1 auto;
}
#flex-header {
  flex: .8;
  padding-top: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #a8a8a8;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#flex-header > h1 {
  animation-name: chunkchat;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes chunkchat {
  0% {
    color: red;
  } 33% {
    color: green;
  } 66% {
    color: blue;
  } 100% {
    color: red;
  }

}
#flex-login {
  border-radius: 10px;
  background-color: #dddddd;
  padding-top: 15px;
  flex: .4;
  font-size: 1.5em;
  margin-bottom: 10px;
}
#flex-login > input {
  font-size: 1.3em;
}
#flex-login > h2 {
  color: #d30000;
  text-align: center;
}
#flex-login > h2:hover {
  cursor: pointer;
  transition-duration: .5s;
  color: #3794f2;
}
#flex-input {
  margin-top: 10px;
  flex: 1;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 2em;
}
#username {
  border: none;
  box-sizing: border-box;
  background-color: #dddddd;
  height: 40px;
  font-size: 1em;
  text-align: center;
}
#username::placeholder {
  color: #d30000;
}
#username:hover::placeholder {
  color: #3794f2;
}
#flex-log {
  flex: 5;
  overflow-y: auto;
  transform: rotate(180deg);
  font-size: 1.5em;
  border-radius: 10px;
  background-color: #f5f5f5;
}
#flex-log::-webkit-scrollbar {
  width: 0;
}
#log_e {
  word-wrap: break-word;
}
li {
  animation-name: newline;
  animation-duration: 1.5s;
  transition: background-color .2s ease;
}
li:hover {
  cursor: default;
  background-color: #e0e0e0;
}
@keyframes newline {
  from {
    background: #c6c6c6;
  } to {
    background: #f5f5f5;
  }
}
#input {
  border-radius: 10px;
  outline: none;
  border: none;
  box-sizing: border-box;
  height: 50px;
  font-size: 1em;
}
#input::placeholder {
  color: #00b7ff;
}
#input:hover::placeholder {
  color: #d30000;
}
#bryce:hover {
  color: #f5f5f5;
}
#mike:hover {
  color: #f5f5f5;
}