body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3794f2;
  margin: auto;
  width: 50%;
}
a {
  color: #00B7FF;
}
input {
  width: 100%;
}
ol {
  /*display: flex;
  flex-direction: column-reverse;
  vertical-align: 0;*/
  padding: 0;
  list-style-type: none;
  transform: rotate(180deg)
}
#header {
  text-align: center;
}
#meat {
  font-size: 2em;
}
#username {
  height: 40px;
}
#current {
  color: #d30000;
  text-align: center;
}
#FLIPBOX {
  transform: rotate(180deg)
}
#log {
  background-color: white;
  height: 625px;
}
#user_text {
  position: fixed;
  bottom: 50px;
  width: 50%;
}
#input {
  border: none;
  box-sizing: border-box;
  height: 70px;
  font-size: 1em;
}
#input:hover {
  background-color: #f9f9f9;
}
input::placeholder {
  color: #00b7ff;
}
#input:hover::placeholder {
  color: #d30000;
}